<%= render partial: "layouts/errors", locals: {object: @listing} %>

<%= form_for(@listing) do |f| %>
    <%= f.label :title %> 
    <%= f.text_field :title %>
    <br>
    <br> 
    <%= f.label :content %> 
    <%= f.text_area :content %>
    <br>
    <br> 
    <%= f.label :pet_id %>
    <%= f.select :pet_id, current_user.pets.collect { |p| [p.name, p.id] } %> 
    <br>
    <br> 
    <h4> Choose a location:</h4>

    <div>

    <%= f.collection_select :location_id, Location.all, :id, :name, include_blank: 'Select One' %>
    </div> 
    <br>
    <br>

    <p> Or create a new location:</p>

    <%= f.fields_for :location, Location.new do |l_location| %> 
        <%= l_location.label :name %>
        <%= l_location.text_field :name %>
        
        <% end %> 

    <br>
    <br>
    <%= f.submit %>
<% end %> 