
<h1> Here are all the Listings </h1> 

<% @listings.each do |l| %>
    <%= l.title %>
    <br>
    <br> 
    <%= l.content %>
    <br> 
    <br> 
    <p> Author: <%= link_to l.author.name, user_path(l.author) %></p>
    <p> Posted on: <%= l.created_at %></p>
    <p><%= link_to "Make a Request", new_request_path %> 
    <% end %>