<% if @user %> 

    <h1> Here are your listings, <%= @user.name %> </h1>

<% else %> 

<h1> Here are all the Listings </h1> 

<% end %> 

<% @listings.each do |l| %>
    <h2><%= l.title %></h2>
    <br>
    <br> 
    <%= l.content %>
    <br> 
    <br> 
    <p> Author: <%= link_to l.author.name, user_path(l.author) %></p>
    <p> Posted on: <%= l.created_at %></p>
    <p><%= link_to "Make a Request", new_listing_request_path(l) %>
    <br>
    <br>
    <% if @user %>
        <%= link_to "Edit Listing", edit_listing_path(l) %> 
     <% end %> 
<% end %>

  