<h1> Create a New Listing </h1>

<%= form_for(@listing) do |f| %>
    <%= f.label :title %> 
    <%= f.text_field :title %>
    <br>
    <br> 
    <%= f.label :content %> 
    <%= f.text_area :content %>
    <br>
    <br> 
    <%= f.submit %>
<% end %> 