<h1><%= @listing.title %> </h1> 

<h2><%= @listing.title %></h2>
    <br>
    <br> 
    <%= @listing.content %>
    <br> 
    <br> 
    <p> Author: <%= link_to @listing.author.name, user_path(@listing.author) %></p>
    <p> Posted on: <%= @listing.created_at %></p>
    <p><%= link_to "Make a Request", new_listing_request_path(@listing) %>
    <br>
    <br>

<% if authorized_to_edit?(@listing) %>

<%= link_to "Edit", edit_listing_path(@listing) %>
<%= button_to "Delete", listing_path(@listing), method: :delete, data: { confirm: 'Are you sure you want to delete this record?' }%> 

<% end %>
