<%= render partial: "layouts/errors", locals: {object: @pet} %>

<%= form_for(@pet) do |f| %>
    <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control'%>
    </div>
    <br>
    <br>

    <div class="field form-group">
        <% if @pet.profile_pic.attached? %>
            <%= image_tag @pet.profile_pic, style: "width: 200px; display: block" %>
        <% end %> 
        
    <div class="field form-group">
        <%= f.label :profile_pic %>
        <%= f.file_field :profile_pic, accept: 'image/png, image/gif, image/jpeg', class: 'form-control'%>
        </div> 

    <br>
    <br> 
    <div class="field form-group">
    <%= f.label :age %>
    <%= f.select :age, ["puppy","adolescent","adult", "senior"], class: 'form-control' %>
    </div>
    <br>
    <br>
    <div class="field form-group">
    <p>Gender</p>
    <%= f.label 'gender', 'Female' %>
    <%= f.radio_button :gender, 'Female' %> 
    <%= f.label 'gender', 'Male' %>
    <%= f.radio_button :gender, 'Male' %> 
    </div> 
    <br>
    <br>
    <div class="field form-group">
    <%= f.label :size %>
    <%= f.select :size, ["small","medium","large"], class: 'form-control' %>
    </div>
    <br>
    <br>
    <div class="field form-group">
    <%= f.label :breed %>
    <%= f.text_field :breed, class: 'form-control' %>
    <br>
    <br>
    <div class="field form-group">
    <%= f.submit class: 'btn btn-success' %>
    </div>
    <% end %>