<h1> Woof, Woof </h1>

<h2> <%= @pet.name.titleize %>'s Profile </h1> 

<% if @pet.profile_pic.attached? %>

    <img class="img-fluid" src="<%= (url_for(@pet.profile_pic))%>">

<% end %> 

<p><strong>Age:</strong> <%= @pet.age %></p>
<p><strong>Gender:</strong> <%= @pet.gender %></p>
<p><strong>Breed:</strong> <%= @pet.breed %></p>
<p><strong>Size:</strong> <%= @pet.size %></p> 


<% if authorized_to_edit_pet?(@pet)%>

<%= link_to "Edit", edit_pet_path(@pet) %>
<br>
<br> 
<%= button_to "Delete", pet_path(@pet), method: :delete, data: { confirm: 'Are you sure you want to delete this record?' }%> 

<% end %>
    