<h3> Hosted Events </h3><br>



<ul>
 <% @user.authored_listings.each do |e| %>
        <li><h4><%= link_to e.title, listing_path(e) %></li></h4><br>
        <ul>
        <li>Location: <%= e.location.name %></li>
        <li>Date & Time: <%= e.date_time.strftime("%b %e, %l:%M %p") %></li></br>
        </ul>
    <% end %> 
    </ul> 


<h3> Paw Pal Attendee </h3><br>

    <ul> 
    <% @user.answered_listings.each do |e| %>
        <li><h4><%= e.title %></h4></li><br>
        <ul>
        <li>Location: <%= e.location.name %></li>
        <li>Date & Time: <%= e.date_time.strftime("%b %e, %l:%M %p") %></li>
        <li>Hosted by: <%= link_to e.author.name, user_path(e.author) %> </li><br>
        </ul>
    <% end %>
    </ul>

