<h3> Upcoming Doggy Hangouts </h3>


 <% @user.received_requests.each do |r| %> 

    <% if r.accept %> 
        <p> Appointment with: </p> 
        <ul>
        <li>Owner: <%= r.user.name %></li>
        <li>Dog Pal: <%= r.pet.name %></li>
        <li>Date & Time: <%= r.date.strftime("%b %e, %l:%M %p") %></li>
        </ul> 
    <%end %> 
<% end %> 

<h4>Requests Received</h4>

<i>pending approval </i>

    <ul> 
    <% @user.received_requests.each do |r| %>
        <% if r.accept.nil? %> 
            <li>From: <%= r.user.name %> - <%= link_to r.subject_line, request_path(r) %> - Received on <%= r.created_at.strftime("%b %e, %l:%M %p")%></li>
        <% else %> 
        <p>- None at this time</p>
        <% end %> 
    <% end %> 
    </ul>



<h4>Requests Sent</h4> 
<ul> 

<% @user.requests.each do |p| %>
    <li>Message: <%= p.message %> - Sent on: <%= p.created_at.strftime("%b %e, %l:%M %p") %> </li>
    <% end %>
</ul> 

