<%= render partial: "layouts/errors", locals: {object: @event} %>

<%= form_for(@event) do |f| %>
 
    <p> Who's joining you on this adventure? </p> 

    <%= f.collection_check_boxes :pet_ids, Pet.all, :id, :name %>
        <% end %> 
    

    <%= f.hidden_field :listing_id %>

    <p> Do you agree to follow social distancing guidelines and mask up? </p> 
        <%= f.label 'safety', 'Accept' %> 
        <%= f.radio_button :safety, true %>
        <%= f.label 'safety', 'Decline' %> 
        <%= f.radio_button :safety, false %>

    <p> Is your dog up to date on vaccinations? </p> 
        <%= f.label 'vaccinations', 'Yes' %> 
        <%= f.radio_button :vaccinations, true %>
        <%= f.label 'vaccinations', 'No' %> 
        <%= f.radio_button :vaccinations, false %>

    <br>
    <br>
   <%= f.submit %>
   <% end %> 