<h1> Send a Request </h1>

<%= form_for(@request) do |f| %>
    <%= f.label :message %>
    <%= f.text_field :message %>
    <br>
    <br>
    <%= f.label :date %>
    <%= f.datetime_local_field :date %>
    <br>
    <br>
    <%= f.label :pet_id %>
    <%= f.select :pet_id, current_user.pets.collect {|p| [p.name, p.id]} %>
    <%= f.hidden_field :listing_id %>
    <br>
    <br>
   <%= f.submit %>
   <% end %> 