<h1> Request from <%= @request.user.name %> </h1> 

<p>Message: <%= @request.message %></p>
<br>
<br>
<p>Date & Time Requested: <%= @request.date %></p>
<br>
<br>

<h4> Do you want to approve this request? </h4>

<%= form_for(@request) do |f| %> 
    <%= f.label 'accept', 'Accept' %> 
    <%= f.radio_button :accept, true %>
    <%= f.label 'accept', 'Decline' %> 
    <%= f.radio_button :accept, false %>
    <%= f.submit "Submit" %>
<% end %> 



