<!DOCTYPE html>
<html>
  <head>
    <title>DoggyHangouts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container-fluid">

  <% if logged_in? %> 

  <div class="container">
  
  <nav class="navbar navbar-dark bg-dark">

  <a class="navbar-brand" href="/users/<%= current_user.id %>">My Profile</a>
  <a class="navbar-brand" href="/listings">All Listings</a>
  <a class="navbar-brand" href="/users/<%= current_user.id%>/listings">My Listings</a>
  <a class="navbar-brand" href="/listings/new">Create New Listing</a>
  <a class="navbar-brand" href="/logout">Log Out</a>

  </nav> 

  </div>

  <% end %> 

  <div> 
    <%= flash[:notice] %>
    <%= flash[:error] %>
  </div> 

  <div> 
  <%= @error %>
  </div> 

  

    <%= yield %>

  
  </body>
</html>
